@page "/contratdetails/{id}"
@inherits ContratDetailsBase

@if (Contrat == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Contrat.Id @Contrat.CodeContrat </h1>
                </div>

                <div class="card-body text-center">


                    <h4>Contrat ID : @Contrat.Id</h4>
                    <h4>Type de contrat : @Contrat.IdTypeContratNavigation.Libelle</h4>
                    <h4>Début du contrat : @Contrat.DebutContrat</h4>
                    <h4>Durée du contrat : @Contrat.DureContrat</h4>
                    <h4>Code du contrat : @Contrat.CodeContrat</h4>
                    <h4>Fichier du contrat : @Contrat.FichierContrat</h4>
                    <h4>Offre concernée :  </h4>
                    <p>@Contrat.IdOffreNavigation.CodeOffre</p><br />
                    <p>@Contrat.IdOffreNavigation.Intitule</p><br />
                    <p>@Contrat.IdOffreNavigation.IdStudioNavigation.Libelle</p><br />
                    <p>@Contrat.IdOffreNavigation.Localisation</p><br />
                    <p>@Contrat.IdOffreNavigation.IdMetierNavigation.Libelle</p><br />

                    <button class="btn btn-primary" @onclick="@Button_Click">@ButtonText</button>
                </div>
                <div class="card-footer text-center @CssClass">
                    <a href="/" class="btn btn-primary">Retourner</a>
                    <a href="@($"editemployee/{Contrat.Id}")" class="btn btn-primary">Modofier</a>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
}